<div class="small-title">Add user</div>
<form class="new-user-form" (ngSubmit)="createUser()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" #nameInput>
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input type="text" name="description" id="email" class="form-control" #emailInput>
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <select name="role" id="role" #roleInput>
      <option value="">Select user role</option>
      <option value="User">User</option>
      <option value="Editor">Editor</option>
      <option value="Admin">Admin</option>
    </select>
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <input type="checkbox" [(ngModel)]="status" name="status" id="status" class="form-control">
  </div>
  <button type="submit">Create</button>
</form>
