<div class="title">Users</div>
<div class="wrap">
  <ng-container *ngIf="users.length > 0; else empty">
    <app-user-item
      *ngFor="let user of users"
      [user]="user"
    ></app-user-item>
  </ng-container>
  <ng-template #empty>
    <div class="empty-block">
      Empty!
    </div>
  </ng-template>
</div>
