<div class="small-title">Add group</div>
<form (ngSubmit)="createGroup()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" #nameInput>
  </div>
  <button type="submit">Create</button>
</form>
