<div class="group" (click)="onClick()" [ngClass]="group.status ? 'active' : ''">
  <div class="group-item">Name: <span>{{ group.name }}</span></div>
  <ul *ngIf="group.users.length > 0">
    <li *ngFor="let user of group.users">
      {{ user.name }}
    </li>
  </ul>
</div>
