.group {
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 10px;
  background-color: #e9e9e9;
}
.group.active {
  border: 1px solid #6caf05;
}
.group-item {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-item:last-child {
  margin-bottom: 0;
}
.group-item span {
  font-weight: bold;
}
.group ul {
  font-size: 15px;
  margin: 4px 0 0;
  padding-left: 20px;
}
.group ul li {
  margin-bottom: 2px;
}
.group ul li:last-child {
  margin-bottom: 0
}
