.user {
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 10px;
  background-color: #e9e9e9;
}
.user-item {
  font-size: 15px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-item:last-child {
  margin-bottom: 0;
}
.user-item span {
  font-weight: bold;
}
