<div class="user" (click)="onClick()">
  <div class="user-item">Name: <span>{{ user.name }}</span></div>
  <div class="user-item">Email: <span>{{ user.email }}</span></div>
  <div class="user-item">Role: <span>{{ user.role }}</span></div>
  <div class="user-item">Status: <span>{{ user.status ? 'active' : 'inactive' }}</span></div>
</div>
