<div class="container">
  <div class="row">
    <div class="col-33">
      <div class="title">Manage</div>
      <div class="wrap">
        <app-new-user></app-new-user>
        <app-new-group></app-new-group>
      </div>
    </div>

    <div class="col-33">
      <app-users></app-users>
    </div>

    <div class="col-33">
      <app-groups></app-groups>
    </div>
  </div>
</div>
