<div class="title">Groups</div>
<div class="wrap">
  <ng-container *ngIf="groups.length > 0; else empty">
    <app-group-item
      *ngFor="let group of groups; let i = index;"
      [group]="group"
    ></app-group-item>
  </ng-container>
  <ng-template #empty>
    <div class="empty-block">
      Empty!
    </div>
  </ng-template>
</div>
